.full-screen {
  height: 100vh;
}
.full-screen h3 {
  color: #fff;
  padding-left: 15px;
  padding-top: 10px;
}
.ant-layout-footer {
  background-color: #fff;
  border-top: 1px solid gray;
}
.ant-layout-content {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 7px;
}
.ant-layout-header {
  border-bottom: 1px solid gray;
}
.ant-picker {
  width: 100%;
}
